.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/image5.jpg');
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}
main{
    margin-top: 50px;
}
form{
    max-width: 300px;
}
