<header>
    <nav class="navbar navbar-expand-lg bg-light" id="navbar">
    <div class="container">
      <img src="../assets/logo.png" alt="" name="logo" width="35px">
      <a class="navbar-brand" href="#">WebCar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span><i class="fa-solid fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" routerLinkActive="active">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/accueil#about">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/accueil#about">À propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/accueil#contact">Contact</a>
          </li>
         
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
        </form>
  
        <div class="text-end">
            <a type="button" routerLink="/login" class="btn btn-outline-primary me-2 active">Se connecter</a>
            <a type="button" routerLink="/signup" class="btn btn-danger">S'inscrire</a>
        </div>
      </div>
    </div>
    </nav>
</header>

<main class="form-signin text-center">
  <div class="background-blur"></div>
  <form class="mx-auto bg-light p-4 rounded needs-validation">
    <h2>Se connecter</h2>
    <p class="h3 mb-3 fw-normal text-start">Vous n'avez pas de compte ? <a routerLink="/signup">S'inscrire</a></p>
    <div class="alert alert-danger" role="alert" *ngIf="msgerreur!=''">
      {{msgerreur}}
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="username" id="username" [(ngModel)]="username" placeholder="Username" required>
          <label for="username">Nom d'utilisateur</label>
          <div class="invalid-feedback">
            Veuillez entrer un nom d'utilisateur valide.
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password" placeholder="Password" required>
          <label for="password">Mot de passe</label>
          <div class="invalid-feedback">
            Veuillez entrer un mot de passe.
          </div>
        </div>
        <button (click)="connecter()" class="btn btn-primary w-100 py-2" type="submit">Se connecter</button>
      </div>
      <div>
        <a routerLink="/forgot">Mot de passe oublié?</a>
      </div>
    
    </div>

        
    </form>
    
</main>
  